@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: url(./3d-elephant-cliff-against-sunset-sky.jpg)no-repeat;
  background-size: cover;
  background-position: center;

}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: #293039;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 2rem;
  color: #fefefe;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 1.5rem;
  color: beige;
  text-decoration: none;
  font-weight: 500;
}